URxvt*background:                     #1d1f21
URxvt*foreground:                     #c5c8c6
URxvt*cursorColor:                    #c5c8c6

URxvt*scrollColor:                    #c5c8c6
URxvt*highlightColor:                 #373b41
URxvt*highlightTextColor:             #b4b7b4

URxvt*color0:                         #1d1f21
URxvt*color1:                         #cc6666
URxvt*color2:                         #b5bd68
URxvt*color3:                         #f0c674
URxvt*color4:                         #81a2be
URxvt*color5:                         #b294bb
URxvt*color6:                         #8abeb7
URxvt*color7:                         #c5c8c6
URxvt*color8:                         #969896
URxvt*color9:                         #cc6666
URxvt*color10:                        #b5bd68
URxvt*color11:                        #f0c674
URxvt*color12:                        #81a2be
URxvt*color13:                        #b294bb
URxvt*color14:                        #8abeb7
URxvt*color15:                        #ffffff

URxvt*color16:                        #de935f
URxvt*color17:                        #a3685a
URxvt*color18:                        #282a2e
URxvt*color19:                        #373b41
URxvt*color20:                        #b4b7b4
URxvt*color21:                        #e0e0e0

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: argb:e2292929, argb:21313131, argb:6c000000
rofi.color-normal: argb:0000000, argb:daffffff, argb:0000000, argb:83000000, #ffffff
rofi.color-active: argb:5000000, argb:e5ffffff, argb:0000000, argb:50000000, #ffffff
rofi.color-urgent: argb:5000000, #ffef00, argb:0000000, argb:59000000, #e2ff00
