style.name:								éti-kfe
style.author:							éti
style.date:								May 18, 2016

! -- toolbar --

toolbar:								flat
toolbar.pixmap:							bar.xpm
toolbar.textColor:						#8f8f8f
toolbar.justify:						center
toolbar.height:							16
toolbar.borderWidth:					0
toolbar.borderColor:					#9e5949

toolbar.workspace:						flat
toolbar.workspace.pixmap:				bar.xpm
toolbar.workspace.textColor:			#8f8f8f

toolbar.iconbar.empty:					flat
toolbar.iconbar.empty.pixmap:			bar.xpm

toolbar.iconbar.focused:				flat
toolbar.iconbar.focused.pixmap:			focused.xpm
toolbar.iconbar.focused.textColor:		#b96856
toolbar.iconbar.focused.color:			#181818
toolbar.iconbar.focused.justify:		center

toolbar.iconbar.unfocused:				flat
toolbar.iconbar.unfocused.pixmap:		bar.xpm
toolbar.iconbar.unfocused.textColor:	#9e5949
toolbar.iconbar.unfocused.justify:		center

toolbar.clock:							flat
toolbar.clock.pixmap:					bar.xpm
toolbar.clock.textColor:				#9e5949

toolbar.button:							flat
toolbar.button.pixmap:					bar.xpm

! -- menu --

menu.title:								flat
menu.title.pixmap:						menu.xpm
menu.title.justify:						center
menu.title.color:						#
menu.title.colorTo:						#
menu.title.textColor:					#b96856
menu.title.font:						Terminus

menu.frame:								flat
menu.frame.pixmap:						frame.xpm
menu.frame.justify:						left
menu.frame.color:						#
menu.frame.textColor:					#9e5949
menu.frame.disableColor:				#b96856

menu.hilite:							flat
menu.hilite.color:						#b96856
menu.hilite.textColor:					#181818

menu.bevelWidth:						5
menu.titleHeight:						12
menu.itemHeight:						18
menu.borderColor:						#9e5949
menu.borderWidth:						0
menu.bullet:							empty
menu.bullet.position:					Right
menu.submenu.pixmap:
menu.hilite.submenu.pixmap:
menu.selected.pixmap:					select.xpm
#menu.hilite.selected.pixmap:

! -- window --

window.title.focus:						flat
window.title.focus.pixmap:				bar.xpm
window.title.focus.color:				#
window.title.focus.colorTo:				#
window.title.unfocus:					flat
window.title.unfocus.pixmap:			bar.xpm
window.title.unfocus.color:				#
window.title.unfocus.colorTo:			#
window.title.font:						Terminus

window.label.focus:						flat
window.label.focus.pixmap:				bar.xpm
window.label.focus.color:				#
window.label.focus.colorTo:				#
window.label.focus.textColor:			#9e5949
window.label.unfocus:					flat
window.label.unfocus.pixmap:			bar.xpm
window.label.unfocus.color:				#
window.label.unfocus.colorTo:			#
window.label.unfocus.textColor:			#9e5949

window.button.focus:					flat
window.button.focus.color:				#
window.button.focus.colorTo:			#
window.button.focus.picColor:			#
window.button.unfocus:					flat
window.button.unfocus.Color:			#
window.button.unfocus.ColorTo:			#
window.button.unfocus.picColor:			#
window.button.pressed:					flat
window.button.pressed.color:			#
window.button.pressed.colorTo:			#
window.button.pressed.picColor:			#

window.close.pixmap:					close.xpm
window.close.unfocus.pixmap:			close.xpm
window.close.pressed.pixmap:			close_pressed.xpm

window.iconify.pixmap:					min.xpm
window.iconify.unfocus.pixmap:			min.xpm
window.iconify.pressed.pixmap:			min_pressed.xpm

window.maximize.pixmap:					max.xpm
window.maximize.unfocus.pixmap:			max.xpm
window.maximize.pressed.pixmap:			max_pressed.xpm

window.stick.pixmap:					bar.xpm
window.stick.unfocus.pixmap:			bar.xpm
window.stick.pressed.pixmap:			bar.xpm

window.stuck.pixmap:					bar.xpm
window.stuck.unfocus.pixmap:			bar.xpm

window.handle.focus:					flat
window.handle.focus.color:				#9e5949
window.handle.focus.colorTo:			#9e5949
window.handle.unfocus:					flat
window.handle.unfocus.color:			#9e5949
window.handle.unfocus.colorTo:			#9e5949
window.handleWidth:						4

window.grip.focus:						flat
window.grip.focus.color:				#9e5949
window.grip.focus.colorTo:				#9e5949
window.grip.unfocus:					flat
window.grip.unfocus.color:				#9e5949
window.grip.unfocus.colorTo:			#9e5949

window.bevelWidth:						0
window.shade:							true
window.borderWidth:						0
window.borderColor:						#9e5949
window.justify:							center
window.title.height:					15
window.font:							Terminus

handleWidth:							1
frameWidth:								1
bevelWidth:								1
borderWidth:							1
borderColor:							#262626
*font:									bauhaus-8