<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
	<menu id="root-menu" label="Openbox">
		<separator/>
		<item label="terminal">
			<action name="Execute">
				<execute>urxvt</execute>
			</action>
		</item>
		<item label="files">
			<action name="Execute">
				<execute>pcmanfm</execute>
			</action>
		</item>
		<item label="chromium">
			<action name="Execute">
				<execute>chromium</execute>
			</action>
		</item>
		<separator/>
		<menu id="root-menu-33222" label="power">
			<item label="reboot">
				<action name="Execute">
					<execute>sudo reboot</execute>
				</action>
			</item>
			<item label="sleep">
				<action name="Execute">
					<execute>sudo zzz</execute>
				</action>
			</item>			
		</menu>
		<separator/>
		<menu id="root-menu-22111" label="openbox">
			<item label="exit">
				<action name="Exit"/>
			</item>
			<item label="restart">
				<action name="Restart"/>
			</item>
		</menu>
		<separator/>
	</menu>
</openbox_menu>
