[Desktop Entry]
Name=HexChat
Name[ca]=HexChat
Name[cs]=HexChat
Name[da]=HexChat
Name[de]=HexChat
Name[el]=HexChat
Name[en_GB]=HexChat
Name[es]=HexChat
Name[et]=HexChat
Name[eu]=HexChat
Name[fi]=HexChat
Name[fr]=HexChat
Name[gl]=HexChat
Name[id]=HexChat
Name[it]=HexChat
Name[ja_JP]=HexChat
Name[ko]=헥스채트
Name[lt]=HexChat
Name[nb]=HexChat
Name[pl]=HexChat
Name[pt]=HexChat
Name[pt_BR]=HexChat
Name[ru]=HexChat
Name[sq]=HexChat
Name[sr]=ХексЧет
Name[sv]=HexChat
Name[zh_CN]=HexChat
GenericName=IRC Client
GenericName[ca]=Client IRC
GenericName[cs]=IRC klient
GenericName[da]=IRC Klient
GenericName[de]=IRC-Client
GenericName[el]=Πελάτης IRC
GenericName[en_GB]=IRC Client
GenericName[es]=Cliente de IRC
GenericName[et]=IRC klient
GenericName[eu]=IRC bezeroa
GenericName[fi]=IRC-asiakassovellus
GenericName[fr]=Client IRC
GenericName[gl]=Cliente de IRC
GenericName[hu]=IRC kliens
GenericName[id]=Klien IRC
GenericName[it]=Client IRC
GenericName[ja_JP]=IRCクライアント
GenericName[ko]=IRC 클라이언트
GenericName[lt]=IRC klientas
GenericName[nb]=IRC-klient
GenericName[pl]=Klient IRC
GenericName[pt]=Cliente IRC
GenericName[pt_BR]=Cliente IRC
GenericName[ru]=irc-клиент
GenericName[sq]=Klient IRC
GenericName[sr]=ИРЦ клијент
GenericName[sv]=IRC klient
GenericName[zh_CN]=IRC 客户端
Comment=Chat with other people online
Comment[ca]=Parla amb altres persones en línia.
Comment[cs]=Chatujte online s ostatními lidmi
Comment[da]=Chat med andre personer online
Comment[de]=Online mit anderen Menschen chatten
Comment[en_GB]=Chat with other people online
Comment[es]=Chatea con otras personas en línea
Comment[et]=Vestle teiste kasutajatega internetis
Comment[fi]=Keskustele muiden kanssa verkossa
Comment[fr]=Parlez avec d'autres personnes en ligne
Comment[id]=Mengobrol dengan orang lain daring
Comment[it]=Chiacchiera con altri utenti online
Comment[ja_JP]=他の人とオンラインチャットをします
Comment[ko]=온라인에 있는 사람들과 대화합니다
Comment[lt]=Kalbėkite su kitais prisijungusiais žmonėmis
Comment[nb]=Prat med andre folk på nettet
Comment[pl]=Rozmawiaj z innymi ludźmi przez internet
Comment[pt]=Conversa com outras pessoas online
Comment[pt_BR]=Converse com outras pessoas na rede
Comment[sq]=Bisedoni në linjë me persona të tjerë
Comment[sr]=Ћаскајте са пријатељима онлајн
Comment[sv]=Chatta med andra människor online
Comment[zh_CN]=与其他人在线聊天
Keywords=IM;Chat;
Keywords[ca]=MI;Xat;
Keywords[da]=IM;Chat;
Keywords[de]=IM;Chat;
Keywords[en_GB]=IM;Chat;
Keywords[es]=IM;Chat;
Keywords[eu]=IM;Chat;Txat;
Keywords[fi]=IM;Chat;pikaviestin;keskustelu;
Keywords[fr]=IM;Chat;
Keywords[id]=IM;Obrolan;
Keywords[it]=IM;Chat;Messaggistica Istantanea;IRC;
Keywords[ko]=IM;인스턴트 메신저;Chat;대화;
Keywords[lt]=IM;Pokalbiai;
Keywords[nb]=IM;Chat;
Keywords[pl]=IM;Chat;
Keywords[pt]=IM;Chat;
Keywords[pt_BR]=IM;Chat;
Keywords[ru]=IM;Чат;
Keywords[sq]=IM;Fjalosje;
Keywords[sr]=ИМ;Ћаскање;
Keywords[sv]=IM;Chatt;
Keywords[zh_CN]=IM;聊天;
Exec=hexchat %U
Icon=/home/eti/.local/share/applications/icons/irc.svg
Terminal=false
Type=Application
Categories=GTK;Network;IRCClient;
StartupNotify=true
X-GNOME-UsesNotifications=true
MimeType=x-scheme-handler/irc;x-scheme-handler/ircs;
Actions=SafeMode;

[Desktop Action SafeMode]
Name=Open Safe Mode
Name[ca]=Obre el Mode Segur
Name[cs]=Otevřít Nouzový režim
Name[da]=Åben Fejlsikret Tilstand
Name[de]=Im sicheren Modus öffnen
Name[en_GB]=Open Safe Mode
Name[es]=Abrir en modo seguro
Name[et]=Ava turvarežiim
Name[fr]=Ouvrir le mode sans échec
Name[id]=Buka Mode Aman
Name[it]=Apri modalità sicura
Name[ja_JP]=セーフモードで開く
Name[ko]=공개 안전 모드
Name[lt]=Atvira saugi veiksena
Name[nb]=Åpne i sikker modus
Name[pl]=Otwórz tryb bezpieczny
Name[pt]=Abrir Modo Seguro
Name[pt_BR]=Abrir modo seguro
Name[ru]=Открыть безопасный режим
Name[sq]=Hap Mënyrën e Sigurt
Name[sr]=Отвори у Сигурном моду
Name[sv]=Öppna säkert läge
Name[zh_CN]=打开安全模式
Exec=hexchat --no-auto --no-plugins
