[Desktop Entry]
Encoding=UTF-8
Name=Trackmania Nations Forever
Comment=PlayOnLinux
Type=Application
Exec=/usr/share/playonlinux/playonlinux --run "Trackmania Nations Forever" %F
Icon=/home/eti/.PlayOnLinux//icones/full_size/Trackmania Nations Forever
Name[fr_FR]=Trackmania Nations Forever
StartupWMClass=TmForeverLauncher.exe
Categories=
